img{
    height: 400px;
    width: auto;
}

h3 {
    font-family: arial, sans-serif;
    font-weight: 800;
    color: rgb(46, 94, 18);
    font-size: 32px;
    margin-right: 66px;
}

li,
p {
    font-size: 22px;
    margin-bottom: 5px;
}

h1 {
    font-family: arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 800;
}

h5 {
    color:rgb(70, 52, 13)
}

.eggh1{
    color: rgb(68, 133, 31);
    font-size: 66.2px;
}

.las{ 
    color: rgb(204, 71, 47);
}

.lash1 {
    color: rgb(204, 71, 47);
    font-size: 77.1px;
}

.mac{
    color:rgb(230, 172, 47);
}

.mach1{
    color: rgb(230, 172, 47);
    font-size: 41.58px;
}

.recipes-title {
    width: 280px;
    font-size: 43.5px;
    margin: 0 auto;
}

div {
    margin: 13px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
}

div p, 
div p a {
    margin: 0 0 0 0;
    padding: 85.24px 0px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;

}

.loathful-lasagna {
    background-color: rgb(204, 98, 79);
}

.enchanted-egg-fried-rice {
    background-color: rgb(85, 129, 59);
}

.mystical-mac-and-cheese {
    background-color: rgb(204, 165, 82);
}